<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/MotorCity-Rennaissance-001.json</key>
	<data>
	Ym9vaxgEAAAAAAQQMAAAAIEK8YwMsKQ2MgOxIhXyqz6vc63xqWPZnVDk27V8UKtoFAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAAB8AAAABAQAATW90b3JDaXR5LVJlbm5haXNz
	YW5jZS0wMDEuanNvbgAsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACg
	AAAAvAAAANgAAADoAAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAA
	BAMAAL6EAAAAAAAACAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMA
	AJIBOwAAAAAACAAAAAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0
	PAAAAAAACAAAAAQDAAClNDwAAAAAAAgAAAAEAwAAsjQ8AAAAAAAsAAAAAQYAAEQBAABU
	AQAAZAEAAHQBAACEAQAAlAEAAKQBAAC0AQAAxAEAANQBAADkAQAACAAAAAAEAABBxCnN
	DQAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAA
	AAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQD
	AAAAkIKW5wAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJD
	Qi1BMDBCLUIwNTE5NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAA
	AAUQAAD0AQAAAAAAABAQAAA4AgAAAAAAAEAQAAAoAgAAAAAAAAIgAAAAAwAAAAAAAAUg
	AAB0AgAAAAAAABAgAACEAgAAAAAAABEgAAC0AgAAAAAAABIgAACUAgAAAAAAABMgAACk
	AgAAAAAAACAgAADgAgAAAAAAADAgAAAMAwAAAAAAAAHAAABYAgAAAAAAABHAAAAgAAAA
	AAAAABLAAABoAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/Music Tracks - asweetfeeling.mp3</key>
	<data>
	Ym9vaxgEAAAAAAQQMAAAAJ/b5030crOJd9tgTPT6Reed8EngnAJDOjRz9LMbDJH4FAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAACAAAAABAQAATXVzaWMgVHJhY2tzIC0gYXN3
	ZWV0ZmVlbGluZy5tcDMsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACg
	AAAAvAAAANgAAADoAAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAA
	BAMAAL6EAAAAAAAACAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMA
	AJIBOwAAAAAACAAAAAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0
	PAAAAAAACAAAAAQDAAClNDwAAAAAAAgAAAAEAwAAsTQ8AAAAAAAsAAAAAQYAAEQBAABU
	AQAAZAEAAHQBAACEAQAAlAEAAKQBAAC0AQAAxAEAANQBAADkAQAACAAAAAAEAABBxC0T
	2XviJRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAA
	AAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQD
	AAAAkIKW5wAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJD
	Qi1BMDBCLUIwNTE5NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAA
	AAUQAAD0AQAAAAAAABAQAAA4AgAAAAAAAEAQAAAoAgAAAAAAAAIgAAAAAwAAAAAAAAUg
	AAB0AgAAAAAAABAgAACEAgAAAAAAABEgAAC0AgAAAAAAABIgAACUAgAAAAAAABMgAACk
	AgAAAAAAACAgAADgAgAAAAAAADAgAAAMAwAAAAAAAAHAAABYAgAAAAAAABHAAAAgAAAA
	AAAAABLAAABoAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/circle copy.png</key>
	<data>
	Ym9vawgEAAAAAAQQMAAAADOHwEqD3FtEVYSjSp455FZQDHeXULLHt7tBEnnfDT6WBAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAAA8AAAABAQAAY2lyY2xlIGNvcHkucG5nACwA
	AAABBgAAEAAAACAAAAAsAAAAPAAAAFgAAABsAAAAhAAAAKAAAAC8AAAA2AAAAOgAAAAI
	AAAABAMAAD1jAAAAAAAACAAAAAQDAAC3hAAAAAAAAAgAAAAEAwAAvoQAAAAAAAAIAAAA
	BAMAAL+EAAAAAAAACAAAAAQDAACRATsAAAAAAAgAAAAEAwAAkgE7AAAAAAAIAAAABAMA
	ALMCOwAAAAAACAAAAAQDAACiNDwAAAAAAAgAAAAEAwAAozQ8AAAAAAAIAAAABAMAAKU0
	PAAAAAAACAAAAAQDAACwNDwAAAAAACwAAAABBgAANAEAAEQBAABUAQAAZAEAAHQBAACE
	AQAAlAEAAKQBAAC0AQAAxAEAANQBAAAIAAAAAAQAAEHELRPZfRwZGAAAAAECAAABAAAA
	AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD1AQAACAAA
	AAEJAABmaWxlOi8vLwgAAAABAQAAVW50aXRsZWQIAAAABAMAAACQgpbnAAAACAAAAAAE
	AABBwd5EgAAAACQAAAABAQAAQzM3QzIwREQtRDQ0MC00QkNCLUEwMEItQjA1MTk1NkYw
	MUUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
	AQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAAABAAAAAAAABRAAAOQBAAAAAAAAEBAA
	ACgCAAAAAAAAQBAAABgCAAAAAAAAAiAAAPACAAAAAAAABSAAAGQCAAAAAAAAECAAAHQC
	AAAAAAAAESAAAKQCAAAAAAAAEiAAAIQCAAAAAAAAEyAAAJQCAAAAAAAAICAAANACAAAA
	AAAAMCAAAPwCAAAAAAAAAcAAAEgCAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgCAAAAAAAA
	ENAAAAQAAAAAAAAA
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/circle.png</key>
	<data>
	Ym9vawQEAAAAAAQQMAAAAB5tZZFyam0JqBm+SB8mr9DmAZkR9u+Um9A/okOBpFR2AAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAAAoAAAABAQAAY2lyY2xlLnBuZwAALAAAAAEG
	AAAQAAAAIAAAACwAAAA8AAAAWAAAAGwAAACEAAAAoAAAALwAAADYAAAA6AAAAAgAAAAE
	AwAAPWMAAAAAAAAIAAAABAMAALeEAAAAAAAACAAAAAQDAAC+hAAAAAAAAAgAAAAEAwAA
	v4QAAAAAAAAIAAAABAMAAJEBOwAAAAAACAAAAAQDAACSATsAAAAAAAgAAAAEAwAAswI7
	AAAAAAAIAAAABAMAAKI0PAAAAAAACAAAAAQDAACjNDwAAAAAAAgAAAAEAwAApTQ8AAAA
	AAAIAAAABAMAAKY0PAAAAAAALAAAAAEGAAAwAQAAQAEAAFABAABgAQAAcAEAAIABAACQ
	AQAAoAEAALABAADAAQAA0AEAAAgAAAAABAAAQcQtE9l9IVAYAAAAAQIAAAEAAAAAAAAA
	DwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkA
	AGZpbGU6Ly8vCAAAAAEBAABVbnRpdGxlZAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHB
	3kSAAAAAJAAAAAEBAABDMzdDMjBERC1ENDQwLTRCQ0ItQTAwQi1CMDUxOTU2RjAxRTAY
	AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
	zAAAAP7///8BAAAAAAAAABAAAAAEEAAA/AAAAAAAAAAFEAAA4AEAAAAAAAAQEAAAJAIA
	AAAAAABAEAAAFAIAAAAAAAACIAAA7AIAAAAAAAAFIAAAYAIAAAAAAAAQIAAAcAIAAAAA
	AAARIAAAoAIAAAAAAAASIAAAgAIAAAAAAAATIAAAkAIAAAAAAAAgIAAAzAIAAAAAAAAw
	IAAA+AIAAAAAAAABwAAARAIAAAAAAAARwAAAIAAAAAAAAAASwAAAVAIAAAAAAAAQ0AAA
	BAAAAAAAAAA=
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/dots long main.png</key>
	<data>
	Ym9vawwEAAAAAAQQMAAAAKZ6rCTOkYoq+JBdJ2xSVLxuyF6EtBk8hFydDsnZQkzbCAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABIAAAABAQAAZG90cyBsb25nIG1haW4ucG5n
	AAAsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACgAAAAvAAAANgAAADo
	AAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAABAMAAL6EAAAAAAAA
	CAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMAAJIBOwAAAAAACAAA
	AAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0PAAAAAAACAAAAAQD
	AAClNDwAAAAAAAgAAAAEAwAArzQ8AAAAAAAsAAAAAQYAADgBAABIAQAAWAEAAGgBAAB4
	AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAACAAAAAAEAABBxC0T2X11zBgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQDAAAAkIKW5wAAAAgA
	AAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJDQi1BMDBCLUIwNTE5
	NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAEAQAAAAAAAAUQAADoAQAAAAAA
	ABAQAAAsAgAAAAAAAEAQAAAcAgAAAAAAAAIgAAD0AgAAAAAAAAUgAABoAgAAAAAAABAg
	AAB4AgAAAAAAABEgAACoAgAAAAAAABIgAACIAgAAAAAAABMgAACYAgAAAAAAACAgAADU
	AgAAAAAAADAgAAAAAwAAAAAAAAHAAABMAgAAAAAAABHAAAAgAAAAAAAAABLAAABcAgAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/dots main.png</key>
	<data>
	Ym9vawgEAAAAAAQQMAAAAEIh3EUhfqaFyJa1QpLaw3p0fuM6UFPdq2RThBEjQg2ABAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAAA0AAAABAQAAZG90cyBtYWluLnBuZwAAACwA
	AAABBgAAEAAAACAAAAAsAAAAPAAAAFgAAABsAAAAhAAAAKAAAAC8AAAA2AAAAOgAAAAI
	AAAABAMAAD1jAAAAAAAACAAAAAQDAAC3hAAAAAAAAAgAAAAEAwAAvoQAAAAAAAAIAAAA
	BAMAAL+EAAAAAAAACAAAAAQDAACRATsAAAAAAAgAAAAEAwAAkgE7AAAAAAAIAAAABAMA
	ALMCOwAAAAAACAAAAAQDAACiNDwAAAAAAAgAAAAEAwAAozQ8AAAAAAAIAAAABAMAAKU0
	PAAAAAAACAAAAAQDAACuNDwAAAAAACwAAAABBgAANAEAAEQBAABUAQAAZAEAAHQBAACE
	AQAAlAEAAKQBAAC0AQAAxAEAANQBAAAIAAAAAAQAAEHELRPZfTH/GAAAAAECAAABAAAA
	AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD1AQAACAAA
	AAEJAABmaWxlOi8vLwgAAAABAQAAVW50aXRsZWQIAAAABAMAAACQgpbnAAAACAAAAAAE
	AABBwd5EgAAAACQAAAABAQAAQzM3QzIwREQtRDQ0MC00QkNCLUEwMEItQjA1MTk1NkYw
	MUUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
	AQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAAABAAAAAAAABRAAAOQBAAAAAAAAEBAA
	ACgCAAAAAAAAQBAAABgCAAAAAAAAAiAAAPACAAAAAAAABSAAAGQCAAAAAAAAECAAAHQC
	AAAAAAAAESAAAKQCAAAAAAAAEiAAAIQCAAAAAAAAEyAAAJQCAAAAAAAAICAAANACAAAA
	AAAAMCAAAPwCAAAAAAAAAcAAAEgCAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgCAAAAAAAA
	ENAAAAQAAAAAAAAA
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/lines copy 2.png</key>
	<data>
	Ym9vawgEAAAAAAQQMAAAAG7aZa608mZMJRwTLZzsPqYY7DyhtJ2m/MvO/c3E95xuBAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABAAAAABAQAAbGluZXMgY29weSAyLnBuZywA
	AAABBgAAEAAAACAAAAAsAAAAPAAAAFgAAABsAAAAhAAAAKAAAAC8AAAA2AAAAOgAAAAI
	AAAABAMAAD1jAAAAAAAACAAAAAQDAAC3hAAAAAAAAAgAAAAEAwAAvoQAAAAAAAAIAAAA
	BAMAAL+EAAAAAAAACAAAAAQDAACRATsAAAAAAAgAAAAEAwAAkgE7AAAAAAAIAAAABAMA
	ALMCOwAAAAAACAAAAAQDAACiNDwAAAAAAAgAAAAEAwAAozQ8AAAAAAAIAAAABAMAAKU0
	PAAAAAAACAAAAAQDAACrNDwAAAAAACwAAAABBgAANAEAAEQBAABUAQAAZAEAAHQBAACE
	AQAAlAEAAKQBAAC0AQAAxAEAANQBAAAIAAAAAAQAAEHELRPZfV2/GAAAAAECAAABAAAA
	AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD1AQAACAAA
	AAEJAABmaWxlOi8vLwgAAAABAQAAVW50aXRsZWQIAAAABAMAAACQgpbnAAAACAAAAAAE
	AABBwd5EgAAAACQAAAABAQAAQzM3QzIwREQtRDQ0MC00QkNCLUEwMEItQjA1MTk1NkYw
	MUUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
	AQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAAABAAAAAAAABRAAAOQBAAAAAAAAEBAA
	ACgCAAAAAAAAQBAAABgCAAAAAAAAAiAAAPACAAAAAAAABSAAAGQCAAAAAAAAECAAAHQC
	AAAAAAAAESAAAKQCAAAAAAAAEiAAAIQCAAAAAAAAEyAAAJQCAAAAAAAAICAAANACAAAA
	AAAAMCAAAPwCAAAAAAAAAcAAAEgCAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgCAAAAAAAA
	ENAAAAQAAAAAAAAA
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/lines.png</key>
	<data>
	Ym9vawQEAAAAAAQQMAAAAANR0mETlbdsD9SLj3lmcN+dob4brhgK33PztMme7ABJAAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAAAkAAAABAQAAbGluZXMucG5nAAAALAAAAAEG
	AAAQAAAAIAAAACwAAAA8AAAAWAAAAGwAAACEAAAAoAAAALwAAADYAAAA6AAAAAgAAAAE
	AwAAPWMAAAAAAAAIAAAABAMAALeEAAAAAAAACAAAAAQDAAC+hAAAAAAAAAgAAAAEAwAA
	v4QAAAAAAAAIAAAABAMAAJEBOwAAAAAACAAAAAQDAACSATsAAAAAAAgAAAAEAwAAswI7
	AAAAAAAIAAAABAMAAKI0PAAAAAAACAAAAAQDAACjNDwAAAAAAAgAAAAEAwAApTQ8AAAA
	AAAIAAAABAMAAKo0PAAAAAAALAAAAAEGAAAwAQAAQAEAAFABAABgAQAAcAEAAIABAACQ
	AQAAoAEAALABAADAAQAA0AEAAAgAAAAABAAAQcQtE9l9bGgYAAAAAQIAAAEAAAAAAAAA
	DwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkA
	AGZpbGU6Ly8vCAAAAAEBAABVbnRpdGxlZAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHB
	3kSAAAAAJAAAAAEBAABDMzdDMjBERC1ENDQwLTRCQ0ItQTAwQi1CMDUxOTU2RjAxRTAY
	AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
	zAAAAP7///8BAAAAAAAAABAAAAAEEAAA/AAAAAAAAAAFEAAA4AEAAAAAAAAQEAAAJAIA
	AAAAAABAEAAAFAIAAAAAAAACIAAA7AIAAAAAAAAFIAAAYAIAAAAAAAAQIAAAcAIAAAAA
	AAARIAAAoAIAAAAAAAASIAAAgAIAAAAAAAATIAAAkAIAAAAAAAAgIAAAzAIAAAAAAAAw
	IAAA+AIAAAAAAAABwAAARAIAAAAAAAARwAAAIAAAAAAAAAASwAAAVAIAAAAAAAAQ0AAA
	BAAAAAAAAAA=
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/rectangle copy 2.png</key>
	<data>
	Ym9vawwEAAAAAAQQMAAAANq7bgtepJ+Y9SvbFgHL9XiHn+0qeGeZp4r8OukWlNcsCAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABQAAAABAQAAcmVjdGFuZ2xlIGNvcHkgMi5w
	bmcsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACgAAAAvAAAANgAAADo
	AAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAABAMAAL6EAAAAAAAA
	CAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMAAJIBOwAAAAAACAAA
	AAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0PAAAAAAACAAAAAQD
	AAClNDwAAAAAAAgAAAAEAwAArDQ8AAAAAAAsAAAAAQYAADgBAABIAQAAWAEAAGgBAAB4
	AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAACAAAAAAEAABBxC0T2X1ikBgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQDAAAAkIKW5wAAAAgA
	AAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJDQi1BMDBCLUIwNTE5
	NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAEAQAAAAAAAAUQAADoAQAAAAAA
	ABAQAAAsAgAAAAAAAEAQAAAcAgAAAAAAAAIgAAD0AgAAAAAAAAUgAABoAgAAAAAAABAg
	AAB4AgAAAAAAABEgAACoAgAAAAAAABIgAACIAgAAAAAAABMgAACYAgAAAAAAACAgAADU
	AgAAAAAAADAgAAAAAwAAAAAAAAHAAABMAgAAAAAAABHAAAAgAAAAAAAAABLAAABcAgAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/rectangle copy.png</key>
	<data>
	Ym9vawwEAAAAAAQQMAAAAIED7IMtXJYozctn0zQfhu7XBJ4RwKE8WRJ0Lf9Ghc53CAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABIAAAABAQAAcmVjdGFuZ2xlIGNvcHkucG5n
	AAAsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACgAAAAvAAAANgAAADo
	AAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAABAMAAL6EAAAAAAAA
	CAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMAAJIBOwAAAAAACAAA
	AAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0PAAAAAAACAAAAAQD
	AAClNDwAAAAAAAgAAAAEAwAArTQ8AAAAAAAsAAAAAQYAADgBAABIAQAAWAEAAGgBAAB4
	AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAACAAAAAAEAABBxC0T2X1w/xgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQDAAAAkIKW5wAAAAgA
	AAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJDQi1BMDBCLUIwNTE5
	NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAEAQAAAAAAAAUQAADoAQAAAAAA
	ABAQAAAsAgAAAAAAAEAQAAAcAgAAAAAAAAIgAAD0AgAAAAAAAAUgAABoAgAAAAAAABAg
	AAB4AgAAAAAAABEgAACoAgAAAAAAABIgAACIAgAAAAAAABMgAACYAgAAAAAAACAgAADU
	AgAAAAAAADAgAAAAAwAAAAAAAAHAAABMAgAAAAAAABHAAAAgAAAAAAAAABLAAABcAgAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/triangle blue.png</key>
	<data>
	Ym9vawwEAAAAAAQQMAAAAA56CmozNQveSyzB6gYXuTHTKDr0WC8L5U6KIq9ZoFNhCAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABEAAAABAQAAdHJpYW5nbGUgYmx1ZS5wbmcA
	AAAsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACgAAAAvAAAANgAAADo
	AAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAABAMAAL6EAAAAAAAA
	CAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMAAJIBOwAAAAAACAAA
	AAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0PAAAAAAACAAAAAQD
	AAClNDwAAAAAAAgAAAAEAwAAqTQ8AAAAAAAsAAAAAQYAADgBAABIAQAAWAEAAGgBAAB4
	AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAACAAAAAAEAABBxC0T2Xz6DBgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQDAAAAkIKW5wAAAAgA
	AAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJDQi1BMDBCLUIwNTE5
	NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAEAQAAAAAAAAUQAADoAQAAAAAA
	ABAQAAAsAgAAAAAAAEAQAAAcAgAAAAAAAAIgAAD0AgAAAAAAAAUgAABoAgAAAAAAABAg
	AAB4AgAAAAAAABEgAACoAgAAAAAAABIgAACIAgAAAAAAABMgAACYAgAAAAAAACAgAADU
	AgAAAAAAADAgAAAAAwAAAAAAAAHAAABMAgAAAAAAABHAAAAgAAAAAAAAABLAAABcAgAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/triangle orange copy 2.png</key>
	<data>
	Ym9vaxQEAAAAAAQQMAAAAIh8FyE9d/Zhn2RM41GT7wZyljORYdZ7TRV6FH+NhppkEAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABoAAAABAQAAdHJpYW5nbGUgb3JhbmdlIGNv
	cHkgMi5wbmcAACwAAAABBgAAEAAAACAAAAAsAAAAPAAAAFgAAABsAAAAhAAAAKAAAAC8
	AAAA2AAAAOgAAAAIAAAABAMAAD1jAAAAAAAACAAAAAQDAAC3hAAAAAAAAAgAAAAEAwAA
	voQAAAAAAAAIAAAABAMAAL+EAAAAAAAACAAAAAQDAACRATsAAAAAAAgAAAAEAwAAkgE7
	AAAAAAAIAAAABAMAALMCOwAAAAAACAAAAAQDAACiNDwAAAAAAAgAAAAEAwAAozQ8AAAA
	AAAIAAAABAMAAKU0PAAAAAAACAAAAAQDAACoNDwAAAAAACwAAAABBgAAQAEAAFABAABg
	AQAAcAEAAIABAACQAQAAoAEAALABAADAAQAA0AEAAOABAAAIAAAAAAQAAEHELRPZfWcg
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwgAAAABAQAAVW50aXRsZWQIAAAABAMAAACQ
	gpbnAAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAAQzM3QzIwREQtRDQ0MC00QkNCLUEw
	MEItQjA1MTk1NkYwMUUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
	AQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAAwBAAAAAAAABRAA
	APABAAAAAAAAEBAAADQCAAAAAAAAQBAAACQCAAAAAAAAAiAAAPwCAAAAAAAABSAAAHAC
	AAAAAAAAECAAAIACAAAAAAAAESAAALACAAAAAAAAEiAAAJACAAAAAAAAEyAAAKACAAAA
	AAAAICAAANwCAAAAAAAAMCAAAAgDAAAAAAAAAcAAAFQCAAAAAAAAEcAAACAAAAAAAAAA
	EsAAAGQCAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/danr/Library/Application Support/TechSmith/Camtasia 2022/Temporary Projects/1655309365.968566/Untitled 8.cmproj/media/triangle orange.png</key>
	<data>
	Ym9vawwEAAAAAAQQMAAAAF+nbWfrnftPacP94pCSW7y2K8jiUi5EbMTJirqN8NyHCAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGRhbnIHAAAAAQEAAExp
	YnJhcnkAEwAAAAEBAABBcHBsaWNhdGlvbiBTdXBwb3J0AAkAAAABAQAAVGVjaFNtaXRo
	AAAADQAAAAEBAABDYW10YXNpYSAyMDIyAAAAEgAAAAEBAABUZW1wb3JhcnkgUHJvamVj
	dHMAABEAAAABAQAAMTY1NTMwOTM2NS45Njg1NjYAAAARAAAAAQEAAFVudGl0bGVkIDgu
	Y21wcm9qAAAABQAAAAEBAABtZWRpYQAAABMAAAABAQAAdHJpYW5nbGUgb3JhbmdlLnBu
	ZwAsAAAAAQYAABAAAAAgAAAALAAAADwAAABYAAAAbAAAAIQAAACgAAAAvAAAANgAAADo
	AAAACAAAAAQDAAA9YwAAAAAAAAgAAAAEAwAAt4QAAAAAAAAIAAAABAMAAL6EAAAAAAAA
	CAAAAAQDAAC/hAAAAAAAAAgAAAAEAwAAkQE7AAAAAAAIAAAABAMAAJIBOwAAAAAACAAA
	AAQDAACzAjsAAAAAAAgAAAAEAwAAojQ8AAAAAAAIAAAABAMAAKM0PAAAAAAACAAAAAQD
	AAClNDwAAAAAAAgAAAAEAwAApzQ8AAAAAAAsAAAAAQYAADgBAABIAQAAWAEAAGgBAAB4
	AQAAiAEAAJgBAACoAQAAuAEAAMgBAADYAQAACAAAAAAEAABBxC0T2X0slxgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAJAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQDAAAAkIKW5wAAAAgA
	AAAABAAAQcHeRIAAAAAkAAAAAQEAAEMzN0MyMERELUQ0NDAtNEJDQi1BMDBCLUIwNTE5
	NTZGMDFFMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAAEAQAAAAAAAAUQAADoAQAAAAAA
	ABAQAAAsAgAAAAAAAEAQAAAcAgAAAAAAAAIgAAD0AgAAAAAAAAUgAABoAgAAAAAAABAg
	AAB4AgAAAAAAABEgAACoAgAAAAAAABIgAACIAgAAAAAAABMgAACYAgAAAAAAACAgAADU
	AgAAAAAAADAgAAAAAwAAAAAAAAHAAABMAgAAAAAAABHAAAAgAAAAAAAAABLAAABcAgAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
